@media only screen and (max-width: 450px) {
  .housing {
    display: flex;
    flex-direction: column;
  }
  .housing-span {
    width: 89.60%;
    height: 200px;
  }
  .housing-marseille {
    width: 97%;
    height: 57%;
  }
  .category {
    order: -1;
  }
}

@media only screen and (min-width: 450px) {
  .accommodation {
    border-radius: 20px;
    margin-right: 30px;
    background-color: #f2f2f2;
  }
  .housing-span {
    width: 265px;
    height: 193px;
  }
  .housing-marseille {
    height: 72%;
    width: 96%;
  }
  .category {
    border-radius: 20px;
  }
  .housing-info {}
}

.housing-span>p {
  font-size: 0.5em;
  padding-left: 10px;
  display: flex;
  align-self: flex-start;
  margin: 2px;
}

.housing-span>h3 {
  font-weight: bold;
  font-size: small;
  display: flex;
  align-self: flex-start;
  margin: 0;
  margin-left: 10px;
}

.housing-marseille {
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
  margin-bottom: 7px;
}

.housing-span {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 20px;
  border-radius: 17px;
  box-shadow: 2px 2px 2rem rgb(163 163 163 / 90%);
  padding: 2px
}

.star {
  height: 8px;
}

.star-span {
  display: flex;
  align-self: flex-start;
  padding-left: 10px;
  margin-top: auto;
  margin-bottom: 10px;
}

.result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.accommodation {
  margin-bottom: 30px;
}

.housing {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.category {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 30px;
  justify-content: space-between;
}

.esc {
  height: 15px;
  margin-right: 10px;
}

.titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accommodation>p {
  font-weight: bold;
  margin-left: 30px;
}

.lolo>a>.housing-span {
  height: 146px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.lolo>a>.housing-span>.housing-marseille {
  width: 40%;
  height: 99%;
  max-width: 100%;
  border-radius: 1rem 1rem 0;
  margin: 0;
}

.lolo>a>.housing-span>h3 {
  width: 58%;
}

.housing-info>h3 {
  font-size: small;
  margin: 5px;
}

.housing-info {
  margin-top: 15px;
  width: 58%;
}
.accommodation>h2{
  margin-left: 30px;
}
.titles>h2{
  margin-left: 30px;
}