@font-face {
    font-family: 'Raleway';
    src: url(ressources/font_family/static/Raleway-Black.ttf), url(ressources/font_family/static/Raleway-BlackItalic.ttf), url(ressources/font_family/static/Raleway-Bold.ttf), url(ressources/font_family/static/Raleway-BoldItalic.ttf), url(ressources/font_family/static/Raleway-ExtraBold.ttf), url(ressources/font_family/static/Raleway-ExtraBoldItalic.ttf), url(ressources/font_family/static/Raleway-ExtraLight.ttf), url(ressources/font_family/static/Raleway-ExtraLightItalic.ttf), url(ressources/font_family/static/Raleway-Italic.ttf), url(ressources/font_family/static/Raleway-Light.ttf), url(ressources/font_family/static/Raleway-LightItalic.ttf), url(ressources/font_family/static/Raleway-Medium.ttf), url(ressources/font_family/static/Raleway-MediumItalic.ttf), url(ressources/font_family/static/Raleway-Regular.ttf), url(ressources/font_family/static/Raleway-SemiBold.ttf), url(ressources/font_family/static/Raleway-SemiBoldItalic.ttf), url(ressources/font_family/static/Raleway-Thin.ttf), url(ressources/font_family/static/Raleway-ThinItalic.ttf);
    font-weight: normal;
    font-style: normal;
}

@media only screen and (max-width: 450px) {
    .search-label {
        display: none;
    }
    .housing {
        display: flex;
        flex-direction: column;
    }
    .search-icon {
        height: 1rem;
        display: flex;
    }
    .title-search {
        font-size: 1.3em;
    }
    body {
        font-size: 0.9em;
        padding: 0;
        margin: 0;
        font-family: 'Raleway', sans-serif;
    }
    .main-menu {
        width: 100%;
    }
    header {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .menu {
        width: 100%;
        border-bottom: groove lightgray;
    }
    .script {
        color: #0065FC;
        font-weight: bold;
    }
    .activity {
        padding-left: 45px;
    }
    footer {
        display: flex;
        background-color: #F2F2F2;
        flex-direction: column;
        width: 100;
    }
    h3 {
        transform: translateX(-30px);
    }
    .main-general {
        transform: translateX(-10px);
    }
    .sub-main-general {
        transform: translateX(-20px);
    }
    .divFooter {
        width: 100%;
    }
    .logo {
        padding-left: 15px;
    }
    .filters {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
    }
    .filters-form {
        display: flex;
        flex-wrap: wrap;
    }
    .search {
        padding-left: 10px;
    }
    .category {
        order: -1;
    }
    .activity-marseille-bis {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .activity-img-bis {
        width: 350px;
        height: 150px;
        border-radius: 1em 1em 0 0;
    }
    .activity-img, .activity-img-bis {
        width: 365px;
        height: 170px;
        border-radius: 1em 1em 0 0;
    }
    .act, .activity-marseille {
        margin-bottom: 20px;
        border-radius: 17px;
        box-shadow: 1px 1px 1rem rgb(163 163 163 / 90%)
    }
    .activity-section {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (min-width: 450px) {
    .search-icon {
        display: none;
    }
    .main-menu {
        transform: translate(380px, -2.5px);
        order: -1;
    }
    .house {
        transform: translateX(-200px);
    }
    .help {
        transform: translateX(-250px);
    }
    .category {
        border-radius: 20px;
    }
    .accommodation {
        border-radius: 20px;
        margin-right: 30px;
        background-color: #f2f2f2;
    }
    .activity-img {
        width: 250px;
        height: 350px;
        border-radius: 1em 1em 0 0;
    }
    .activity-marseille {
        border-radius: 7%;
        box-shadow: 1px 1px 1rem rgb(163 163 163 / 90%);
        margin-bottom: 20px;
    }
    .activity-img-bis {
        width: 300px;
        height: 150px;
        border-radius: 1em 1em 0 0;
    }
}

.logo {
    display: flex;
    order: -1;
}

.menu>.submenu {
    display: flex;
    justify-content: space-around;
}

.activity {
    color: black;
    padding-left: 50px;
}

a {
    text-decoration: none;
    color: black;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    width: 100%
}

q {
    list-style-type: none;
}

h3 {
    padding-left: 40px;
    font-weight: bold;
}

.sub-main-general {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.inscription {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.main-menu {
    display: flex;
}

.menu {
    margin-top: 7px;
}

ul {
    list-style-type: none;
}

.script {
    color: #0065FC;
    font-weight: bold;
}

.search2 {
    background-color: blue;
    color: white;
    height: 2rem;
    border-radius: 0 1.5rem 1.5rem 0;
    transform: translateX(-3.5px);
    border: solid blue
}

#curseur {
    height: 55vh;
}

.form {
    display: flex;
}

.form>p {
    width: 3%;
}

.city {
    height: 2rem;
    border: solid #f2f2f2;
}

.filters {
    display: flex;
    padding-top: 35px;
}

.icon-maps {
    border-radius: 1.5rem 0 0 1.5rem;
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2ad;
}

.svg-maps {
    height: 1rem;
    width: 1rem;
}

h2 {
    font-size: 1.5em;
}

.finance {
    height: 1rem;
    width: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-button {
    height: 2rem;
    border: blue;
    background-color: blue;
    color: white;
    border-radius: 0 1.5rem 1.5rem 0;
    transform: translateX(-6px);
}

.icon {
    height: 1rem;
    width: 1rem;
    color: blue;
}

.economic-button {
    border: solid 2px #d9d9d9;
    border-radius: 5rem;
    height: 2.2rem;
    display: flex;
    flex-wrap: nowrap;
    width: 10rem;
    background-color: white;
    margin-right: 25px;
    margin-top: 18px;
}

.economic {
    display: flex;
    align-self: center;
    font-weight: bolder;
}

.family-button {
    border: solid 2px #d9d9d9;
    border-radius: 5rem;
    height: 2.2rem;
    display: flex;
    flex-wrap: nowrap;
    width: 7rem;
    background-color: white;
    margin-right: 25px;
    margin-top: 18px;
}

.family {
    display: flex;
    align-self: center;
    font-weight: bolder;
}

.filters-form {
    display: flex;
    padding-top: 5px;
    padding-left: 10px;
}

.love-button {
    border: solid 2px #d9d9d9;
    border-radius: 5rem;
    height: 2.2rem;
    display: flex;
    flex-wrap: nowrap;
    width: 8rem;
    background-color: white;
    margin-right: 25px;
    margin-top: 18px;
}

.love {
    display: flex;
    align-self: center;
    font-weight: bolder;
}

.pets-button {
    border: solid 2px #d9d9d9;
    border-radius: 5rem;
    height: 2.2rem;
    display: flex;
    flex-wrap: nowrap;
    width: 12rem;
    background-color: white;
    margin-right: 25px;
    align-items: center;
    margin-top: 18px;
}

.pets {
    display: flex;
    align-self: center;
    font-weight: bolder;
}

.border {
    height: 2rem;
    width: 2rem;
    color: blue;
    border-radius: 100%;
    transform: translate(-7px, -0.8px);
    background-color: #DEEBFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    height: 0.8rem;
    width: 0.8rem;
}

.information-border {
    height: 1.2rem;
    width: 1.2rem;
    border: solid lightgrey;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.information {
    display: flex;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
}

p {
    font-size: 0.8em;
    padding-left: 5px;
}

.love-button:hover {
    transform: scale(1.5);
    background-color: pink;
    color: red;
    -webkit-transition: transform 2s ease-out, background 0.5s ease;
}

.economic-button:hover {
    transform: scale(1.1);
    background-color: green;
    color: blue;
    -webkit-transition: transform 2s ease-out, background 0.5s ease;
}

.family-button:hover {
    transform: scale(1.5);
    background-color: purple;
    color: orangered;
    -webkit-transition: transform 2s ease-out, background 0.5s ease;
}

.pets-button:hover {
    transform: scale(1.5);
    background-color: gray;
    color: yellow;
    -webkit-transition: transform 2s ease-out, background 0.5s ease;
}

.housing-span>p {
    font-size: 0.3em;
}

.housing-marseille {
    height: 75%;
    width: 95%;
    border-radius: 1rem 1rem 0 0;
}

.housing-span {
    background-color: white;
    width: 265px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 17px;
    box-shadow: 2px 2px 2rem rgb(163 163 163 / 90%);
}

.housing-span-bis {
    background-color: white;
    height: 120px;
    display: flex;
    margin: 20px;
    border-radius: 17px;
    box-shadow: 2px 2px 2rem rgb(163 163 163 / 90%);
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 25px;
}

.housing-marseille-bis {
    height: 95%;
    width: 43%;
    border-radius: 1rem 0 0 1rem;
    display: flex;
    align-self: center;
    padding: 3px;
    font-size: 0.8em;
}

.star {
    height: 8px;
}

.star-span {
    display: flex;
}

.star-span-bis {
    display: flex;
    margin-bottom: 5px;
}

.star2 {
    height: 8px;
}

.result {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.accommodation {
    padding: 10px;
    margin-bottom: 30px;
}

.housing {
    display: flex;
    justify-content: space-between;
}

.category {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 30px;
}

.esc {
    height: 15px;
    margin-right: 10px;
}

.titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accommodation>p {
    font-weight: bold;
}

.act {
    margin-bottom: 20px;
    border-radius: 17px;
    box-shadow: 1px 1px 1rem rgb(163 163 163 / 90%)
}

.activity-section {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}

.activity-marseille-bis {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body {
    font-family: 'Raleway', 'Arial Narrow Bold', sans-serif;
}

.search-form {
    display: flex;
}