@media only screen and (max-width: 900px) {
    .search-label {
        display: none;
    }
    .search-icon {
        height: 1rem;
        display: flex;
    }
    .titleSearch {
        font-size: 1.3em;
    }
    body {
        font-size: 0.9em;
        padding: 0;
        margin: 0;
    }
    .titi {
        width: 100%;
    }
    header {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .menu {
        width: 100%;
        border-bottom: groove lightgray;
    }
    .script {
        color: #0065FC;
        font-weight: bold;
        transform: translateX(-10px);
    }
    .activity {
        padding-left: 45px;
    }
    footer {
        display: flex;
        background-color: #F2F2F2;
        flex-direction: column;
        transform: translateY(200px);
        width: 100;
        padding-left: 10px;
        padding-top: 5px;
    }
    h3 {
        transform: translateX(-30px);
    }
    .mainFooter {
        transform: translateX(-10px);
    }
    .uf {
        transform: translateX(-20px);
    }
    .divFooter {
        width: 100%;
    }
    .logo {
        padding-left: 15px;
    }
    .filters {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
    }
    .filtersForm {
        display: flex;
        flex-wrap: wrap;
    }
    .search {
        padding-left: 10px;
    }
}

@media only screen and (min-width: 900px) {
    .search-icon {
        display: none;
    }
    .titi {
        transform: translate(380px, -2.5px);
        order: -1;
    }
    .divFooterB {
        transform: translateX(-200px);
    }
    .divFooterC {
        transform: translateX(-250px);
    }
    footer {
        position: absolute;
        bottom: 0;
    }
}

.logo {
    display: flex;
    order: -1;
}

.menu>.tutu {
    display: flex;
    justify-content: space-between;
}

.lili {
    margin-right: 30px;
}

.activity {
    color: black;
    padding-left: 50px;
}

a {
    text-decoration: none;
    color: black;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    width: 100%
}

q {
    list-style-type: none;
}

h3 {
    padding-left: 40px;
    font-weight: bold;
}

.uf {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.inscription {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.titi {
    display: flex;
}

.menu {
    margin-top: 7px;
}

ul {
    list-style-type: none;
}

.script {
    color: #0065FC;
    font-weight: bold;
}

.search2 {
    background-color: blue;
    color: white;
    height: 2rem;
    border-radius: 0 1.5rem 1.5rem 0;
    transform: translateX(-3.5px);
    border: solid blue
}

#curseur {
    height: 55vh;
}

.form {
    display: flex;
}

.form>p {
    width: 3%;
}

.city {
    height: 2rem;
    border: solid #f2f2f2;
}

.filters {
    display: flex;
    padding-top: 35px;
    flex-direction: column;
}

.iconMaps {
    border-radius: 1.5rem 0 0 1.5rem;
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2ad;
}

.svgMaps {
    height: 1rem;
    width: 1rem;
}

h2 {
    font-size: 1.5em;
    margin-right: 25px;
}

.finance {
    height: 1rem;
    width: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchButton {
    height: 2rem;
    border: blue;
    background-color: blue;
    color: white;
    border-radius: 0 1.5rem 1.5rem 0;
}

.traiters {
    display: flex;
}

.ticket {
    height: 1rem;
    width: 1rem;
    color: blue;
    padding-top: 5px;
}

.ecoButton {
    border: solid 2px #d9d9d9;
    border-radius: 5rem;
    height: 2.2rem;
    display: flex;
    flex-wrap: nowrap;
    width: 10rem;
    background-color: white;
    margin-right: 25px;
    margin-top: 18px;
}

.eco {
    display: flex;
    align-self: center;
    font-weight: bolder;
}

.familyButton {
    border: solid 2px #d9d9d9;
    border-radius: 5rem;
    height: 2.2rem;
    display: flex;
    flex-wrap: nowrap;
    width: 7rem;
    background-color: white;
    margin-right: 25px;
    margin-top: 18px;
}

.child {
    height: 1rem;
    width: 1rem;
    color: blue;
    padding-top: 5px;
}

.family {
    display: flex;
    align-self: center;
    font-weight: bolder;
}

.filtersForm {
    display: flex;
    padding-top: 5px;
}

.loveButton {
    border: solid 2px #d9d9d9;
    border-radius: 5rem;
    height: 2.2rem;
    display: flex;
    flex-wrap: nowrap;
    width: 8rem;
    background-color: white;
    margin-right: 25px;
    margin-top: 18px;
}

.heart {
    height: 1rem;
    width: 1rem;
    color: blue;
    padding-top: 5px;
}

.love {
    display: flex;
    align-self: center;
    font-weight: bolder;
}

.petsButton {
    border: solid 2px #d9d9d9;
    border-radius: 5rem;
    height: 2.2rem;
    display: flex;
    flex-wrap: nowrap;
    width: 12rem;
    background-color: white;
    margin-right: 25px;
    align-items: center;
    margin-top: 18px;
}

.dog {
    height: 1rem;
    width: 1rem;
    padding-top: 5px;
}

.pets {
    display: flex;
    align-self: center;
    font-weight: bolder;
}

.dogBorder {
    height: 2rem;
    width: 2rem;
    color: blue;
    border-radius: 100%;
    transform: translate(-7px, -0.3px);
    background-color: #DEEBFF;
}

.loveBorder {
    height: 2rem;
    width: 2rem;
    color: blue;
    border-radius: 100%;
    transform: translate(-7px, -0.8px);
    background-color: #DEEBFF;
}

.familyBorder {
    height: 2rem;
    width: 2rem;
    color: blue;
    border-radius: 100%;
    transform: translate(-7px, -0.8px);
    background-color: #DEEBFF;
}

.ecoBorder {
    height: 2rem;
    width: 2rem;
    color: blue;
    border-radius: 100%;
    transform: translate(-7px, -0.8px);
    background-color: #DEEBFF;
}

.info {
    height: 0.8rem;
    width: 0.8rem;
}

.infoBorder {
    height: 1.2rem;
    width: 1.2rem;
    border: solid lightgrey;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.information {
    display: flex;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
}

p {
    font-size: 1.3em;
}

.loveButton:hover {
    width: 200px;
    background-color: pink;
    -webkit-transition: width 2s ease-out, background 0.5s ease;
    color: red;
}

.ecoButton:hover {
    width: 200px;
    background-color: green;
    -webkit-transition: width 2s ease-out, background 0.5s ease;
    color: blue;
}

.familyButton:hover {
    width: 200px;
    background-color: purple;
    -webkit-transition: width 2s ease-out, background 0.5s ease;
    color: orangered;
}

.petsButton:hover {
    width: 200px;
    background-color: gray;
    -webkit-transition: width 2s ease-out, background 0.5s ease;
    color: yellow;
}